<div>
    <h1 class="subtitle">how much is this vacay gonna cost me</h1>
    <h4 class="description">-Here's exactly how much-</h4>
    <div id="cost">$<%= @cost %></div>
</div>

<!-- Based on total attendance vs how many nights - still need to think about this one -->