<div>
    <h1 class="subtitle">when will i be at this vacay</h1>
    <h4 class="description"> -Fill out the nights you will be attending-</h4>
    <div class="calendar_div">
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="1">
            </span>
            <div class="daytext">Saturday<br>8/27</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="2">
            </span>
            <div class="daytext">Sunday<br>8/28</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="3">
            </span>
            <div class="daytext">Monday<br>8/29</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="4">
            </span>
            <div class="daytext">Tuesday<br>8/30</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="5">
            </span>
            <div class="daytext">Wednesday<br>8/31</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="6">
            </span>
            <div class="daytext">Thrusday<br>9/1</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="night_choices" class="day_checkboxes" value="7">
            </span>
            <div class="daytext">Friday<br>9/2</div>
        </div>
    </div>
</div>
<div>
    <h1 class="subtitle">when am i making dinner</h1>
    <h4 class="description"> -Choose a night to make dinner for everyone-</h4>
    <div class="calendar_div">
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="1">
            </span>
            <div class="daytext">Saturday<br>8/27</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="2">
            </span>
            <div class="daytext">Sunday<br>8/28</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="3">
            </span>
            <div class="daytext">Monday<br>8/29</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="4">
            </span>
            <div class="daytext">Tuesday<br>8/30</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="5">
            </span>
            <div class="daytext">Wednesday<br>8/31</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="6">
            </span>
            <div class="daytext">Thrusday<br>9/1</div>
        </div>
        <div>
            <span>
                <input type="checkbox" name="dinner_choices" class="day_checkboxes" value="7">
            </span>
            <div class="daytext">Friday<br>9/2</div>
        </div>
    </div>
</div>


<!-- Need a form for both, grey out days that dinner has been chosen -->