<% if logged_in? %>
<div>
    <h1 class="subtitle">where is this vacay</h1>
    <h4 class="description">-This is exactly where-</h4>
    <div style="text-align: center;"><a href="https://goo.gl/maps/Jn2qzMJ3m6o">Google Maps</a></div>
    <div style="text-align: center;"><a href="https://www.vrbo.com/807309">VRBO link</a></div>
</div>
<% end %>