<div>
    <h1 class="subtitle">who is going on this vacay</h1>
    <h4 class="description">-These people have had the grace to fill out the WHEN tab-</h4>
</div>
<div>
    <h1 class="subtitle">who is making dinner each night</h1>
    <h4 class="description">-These people have truly stepped up to the plate-</h4>
</div>

<!-- invite friends to create account page -->