/*Application*/
body {
    font-family: helvetica;
    background-color: #E5E6E6;
    color: #2E1A1A;
}
#main_container {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    background-color: #FFFFFF;
}
#title {
    font-size: 35px;
    text-align: center;
}
#title a {
    color: #2E1A1A;
    text-decoration: none;
}
#title h1 {
    margin: 0;
    background-color: #AA3939;
}
#nav_bar {
    margin: 0 auto;
    padding: 0;
    background-color: #AA3939;
}
#nav_bar li {
    display: inline;
}
.nav_bar_option:hover {
    background-color: #00816A;
}
#nav_bar a {
    color: #FFFFFF;
    text-decoration: none;
}
#nav_bar a.hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.nav_bar_option {
    display: inline-block;
    width: 160.62px;
    text-align: center;
}
#main_footer {
    margin-top: 200px;
    background-color: #AA3939;
    overflow: auto;
}
#main_footer div {
    float: right;
}
.logo {
    width: 150px;
    height: 30px;
}

/*Sign In*/
.login {
    width: 320px;
    margin: 0 auto 10px auto;
    overflow: auto;
    text-align: center;
    border: 1px solid #E5E6E6;
}
.login h1 {
    margin: 5px;
}
.signin_input {
    padding-bottom: 10px;
    width: 180px;
    margin: 0 auto;
}
.signin_input div {
    text-align: left;
}
.signin_input input {
    width: 180px;
}

/* Countdown */
#clockdiv {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    width: inherit;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
}
#logout_container {
    position: absolute;
    right: 5px;
    font-size: 15px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

/* Subpages */
.subtitle {
    text-align: center;
    margin-bottom: 0;
    color: #2E1A1A;
}
.description {
    text-align: center;
    margin-top: 0;
    color: gray;
}
.calendar_div {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    width: inherit;
    margin: 0 auto;
    padding: 15px 0;
}
.calendar_div > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
.calendar_div div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
.daytext {
    padding-top: 10px;
    font-size: 16px;
}
.day_checkboxes {
    width: 50px;
    height: 50px;
}