/*Application*/
body {
    font-family: helvetica;
    background-color: #E5E6E6;
    color: #2E1A1A;
}
#main_container {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    background-color: #FFFFFF;
}
#title {
    font-size: 35px;
    text-align: center;
}
#title a {
    color: #FFFFFF;
    text-decoration: none;
}
#title h1 {
    margin: 0;
    background-color: #AA3939;
}
#nav_bar {
    margin: 0 auto;
    padding: 0;
    background-color: #AA3939;
}
#nav_bar li {
    display: inline;
}
.nav_bar_option:hover {
    background-color: #00BF96;
}
#nav_bar a {
    color: #FFFFFF;
    text-decoration: none;
}
#nav_bar a.hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.nav_bar_option {
    display: inline-block;
    width: 160.62px;
    text-align: center;
}
#main_footer {
    margin-top: 200px;
    background-color: #AA3939;
    overflow: auto;
}
#main_footer div {
    float: right;
}
.logo {
    width: 150px;
    height: 30px;
}

/*Sign In*/
.login {
    width: 320px;
    margin: 0 auto 10px auto;
    overflow: auto;
    text-align: center;
    border: 1px solid #E5E6E6;
}
.login h1 {
    margin: 5px;
}
.signin_input {
    padding-bottom: 10px;
    width: 180px;
    margin: 0 auto;
}
.signin_input div {
    text-align: left;
}
.signin_input input {
    width: 180px;
}

/* Countdown */
#clockdiv {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    width: inherit;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
}
#logout_container {
    position: absolute;
    right: 5px;
    font-size: 15px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

/* Subpages */
.subtitle {
    text-align: center;
    margin-bottom: 0;
    color: #2E1A1A;
}
.description {
    text-align: center;
    margin: 0 0 15px 0;
    color: gray;
}
.calendar_div {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    width: inherit;
    margin: 0 auto;
    padding: 15px 0;
}
.calendar_div > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
.calendar_div div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
.daytext {
    padding-top: 10px;
    font-size: 16px;
}
.day_checkboxes {
    width: 50px;
    height: 50px;
}

.when_button {
    margin: 0 auto;
    width: 300px;
    padding-top: 25px;
}

.when_button input {
    width: 300px;
    padding:30px;
}

#who_night_calendar {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

#who_night_calendar th {
    width: 100px;
    padding: 0;
    font-weight: normal;
}

#who_night_calendar tr {
    height: 30px;
}

#who_night_calendar tr:nth-child(odd)
{
    background-color: #AA3939;
    color: #FFFFFF;
}

.who_name {
    background-color: #FFFFFF;
    color: #2E1A1A;
}

#cost {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.idea_container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.ideas {
    background-color: #AA3939;
    overflow: auto;
    padding: 1px 0.5px 1px 0;
}

.individual_idea {
    background-color: #FFFFFF;
    border-bottom: solid #AA3939 1px;
    overflow: auto;
}

.ideas_header {
    background-color: #AA3939;
    overflow: auto;
}

.create_idea_container {
    float: right;
}

.idea {
    background-color: #FFFFFF;
    width: 91%;
    float: left;
    padding-top: 27px;
}

.idea a {
    text-decoration: none;
}

.vote_container {
    width: 4%;
    overflow: auto;
    float: left;
    font-size: 30px;
    padding-left: 5px;
    color: gray;
}

.vote_arrow:hover {
    cursor: pointer;
}

.vote_arrow_active {
    color: #00BF96;
}

.number_votes {
    width: 4%;
    padding-top: 27px;
    float: left;
}

.idea_name {
    padding-left: 10px;
    color: gray;
    font-size: 12px;
}

#idea_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_input {
    width: 100%;
    margin-bottom: 10px;
}